#size-chart-popup-button{
    background-color: transparent;
    padding: 0;
    margin: 10px 0;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    border: 0;
    color: #000;
}
#size-chart-popup-button img{
    width: 1.2em;
    height: auto;
}
#size-chart-popup-content{
    padding: 40px;
    border-radius: 5px;
}
#size-chart-popup-content .size-chart-content{
    width: 100%;
    overflow-x: auto;
}
#size-chart-popup-content button[data-fancybox-close]{
    top: 5px;
    background-color: #FFF;
    padding: 5px;
    width: 35px;
    height: 35px;
    min-height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
}
#size-chart-popup-content button[data-fancybox-close] svg{
    width: 90%;
}
#size-chart-popup-content button[data-fancybox-close] svg path{
    fill: #000;
}
.fancybox__container .fancybox__backdrop{
    opacity: .65;
}
@media screen and (max-width: 600px){
    #size-chart-popup-content{
        padding: 10px;
        border-radius: 5px;
    }
    #size-chart-popup-content button[data-fancybox-close]{
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 99999;
        background-color: rgba(255, 255, 255, .75);
        opacity: 1;
        width: 35px;
        height: 35px;
        min-height: unset;
        border-radius: 50%;
    }
    #size-chart-popup-content button[data-fancybox-close] svg path{
        stroke: #000;
    }
}